{% extends 'pages/base.jinja' %}

{% block title %}
    Flask industries - Not Found
{% endblock %}

{% block content %}

    <section id="wrong"> 
        <h2>Typed in the wrong root weirdo</h2>
    </section>
    
{% endblock %}
