
#hero {
    min-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pico-primary-background);
}

#hero h1 {
    align-items: center;
    text-align: center;
}

#rand-num{
    font-size: 10rem;
    color: var(--pico-primary-background);
    font-weight: 100;
    text-align: center;
}

#wrong{
    font-size: 16rem;
    color: var(--pico-primary-background);
    font-weight: 100;
    text-align: center;
}

#things {
    display: flex;
    color: var(--pico-primary-background);
    flex-wrap: wrap;
   
}

#item {
    font-size: 10rem;
    background-color: var(--pico-primary-background);
    text-align: center;
    align-items: center;
}